/* ============================================= */
  /*              Grid System                      */
  /* ============================================= */

  .container {
    padding: 0 10px;
    @include mediaQuery($brk-narrow) {
      max-width: 1400px;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .centered {
    @include mediaQuery($brk-narrow) {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .row {
    display: flex;
    flex-direction: column;
    padding: 1em 10px;
    @include mediaQuery($brk-narrow) {
      flex-direction: row;
    }
  }

  [class^=col] {
    margin-top: 10px;
    flex-basis: 100%;
    min-height: 25px;
    padding: 10px;
    border-radius: 5px;
    @include mediaQuery($brk-narrow) {
      display: flex;
      justify-content: center;
      margin-top: 0;
      align-items: center;
    }
    & + & {
      @include mediaQuery($brk-narrow) {
        margin-left: 10px;
      }
    }
  }

  @include mediaQuery($brk-narrow) {
    @for $i from 1 through 12 {
      .col-#{$i} {
        flex-basis: calc(#{$i} * 8.33%);
      }
    }
  }

  .theme {
    &.col-1 {
      background-color: $purple-mountains-majesty;
    }
    &.col-2 {
      background-color: $coral-color;
    }
    &.col-3 {
      background-color: $french-lilac;
    }
    &.col-4 {
      background-color: $anakiwa-color;
    }
    &.col-5 {
      background-color: $vista-blue;
    }
    &.col-6 {
      background-color: $fountain-blue;
    }
    &.col-7 {
      background-color: $sea-pink;
    }
    &.col-8 {
      background-color: $vivid-tangerine;
    }
    &.col-9 {
      background-color: $sunglo-color;
    }
    &.col-10 {
      background-color: $emerald-color;
    }
    &.col-11 {
      background-color: $malibu-color;
    }
    &.col-12 {
      background-color: $riptide-color;
    }

  }

  .card {
    flex-basis: 100%;
  }
